@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0px;
}

.main-header {
  width: 100%;
  background-image: url(../images/football_767.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  position: relative;
  padding-top: 25px;
  padding-bottom: 90px;
}

.main-header:before {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.container {
	width: 280px;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.logo {
	width: 132px;
	margin-left: auto;
	margin-right: auto; 
}

.logo-text {
    fill: #ffffff;

}

.surface-slogan {
	margin-top: 130px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 200%;
	font-weight: 700;
	line-height: 30px;
	color: #ffffff;
}
.slogan-part1 {
    display: block;

}

.slogan-part2 {
	display: block;
	margin-top: 30px;
	margin-left: 44px;
}

.app-list {
	 margin-top: 0;
     margin-bottom: 0;
     margin-left: 0;
     padding-left: 0;
}

.app-item {
	list-style-type: none;
}

.app-item:first-child {
	margin-top: 88px;
}

.app-item:nth-child(n + 2) {
    margin-top: 14px;
}

.app-item-link {
	text-decoration: none;
}

.button {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 280px;
    padding-left: 120px;
    padding-top: 10px;
	padding-bottom: 10px;
	background-color: #5e42b0;
	color: #ffffff;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}

.application {
	font-family: inherit;
	font-size: 8px;
	font-weight: 400;
	line-height: 12px;
	text-transform: uppercase;
	text-align: left;
}

.vendor {
	font-family: inherit;
	font-size: 8px;
	font-weight: 700;
	text-transform: uppercase; 
	text-align: left;
}

.vendor-logo {
	width: 22px;
	height: 22px;
	position: relative;
	left: 83px;
	bottom: 32px;
	fill: #ffffff;
}

.athlets {
	width: 100%;
	
}

.main_header {
	margin-top: 24px;
	margin-bottom: -17px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: inherit;
	font-size: 50px;
	font-weight: 700;
	color: #e7e7e7;
	text-transform: uppercase;
}

.main_header_img {
	width: 192px;
	display: block;
	margin: auto;
	position: relative;
	top: 50px;


}

.athlets_card {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-top: 50px;
	padding-bottom: 55px;
	padding-left: 20px;
	padding-right: 20px;
}

.athlets_card:nth-child(3) {
	background-color: #fafafa;
	padding-top: 80px;
}

.athlets_card:nth-child(4) {
	background-color: #f5f4f9;
}

.athlets_card:last-child { 
    background-color: #5e42b0;
}

.card_number {
	display: block;
	font-family: inherit;
	font-size: 14px;
	font-weight: 700;
}

.card_number::after {
	content: "";
	display: block;
	width: 16px;
	height: 3px;
	margin-top: -3px;
	background-color: #5e42b0;
}

.number {
	color: #000000;
}

.number::after {
	content: "";
	display: block;
	width: 16px;
	height: 3px;
	margin-top: -3px;
	background-color: #ffffff;
}

.card_header {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10px;
	font-family: inherit;
	font-size: 23px;
	font-weight: 700;
	color: #c1c1c1;
	text-transform: uppercase;
}

.card_content {
	font-family: inherit;
	margin-top: 20px;
	}

.card_text {
	font-size: 15px;
	font-weight: 400;
	margin-top: 0;
	margin-left: 0;
}

.text_color {
	color: #ffffff;
}

.aside_img {
	width: 100%;
	display: block;
}
