@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0px;
}

.main_header {
  width: 100%;
  background-image: url(../images/football_767.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  position: relative;
  padding-top: 25px;
  padding-bottom: 90px;
  line-height: 16px;
}

.main_header:before {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.container {
	width: 280px;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.logo {
	width: 132px;
	margin-left: auto;
	margin-right: auto; 
}

.surface_logo_text {
    fill: #ffffff;

}

.surface-slogan {
	margin-top: 130px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 28px;
	font-weight: 700;
	line-height: 30px;
	color: #ffffff;
}

.slogan-part1 {
    display: block;

}

.slogan-part2 {
	display: block;
	margin-top: 30px;
	margin-left: 44px;
	margin-bottom: 90px;
}

.application {
	width: 100%;
	background-color: #5e42b0;
	font-family: inherit;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 8px;
	line-height: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 20px;
    	
}

.application:nth-child(n+3) {
	margin-top: 14px; 
}

.application_link {
	display: flex;
    text-decoration: none;
    color: inherit;
    align-items: center;
    padding-left: 100px;
}
      
.application_icon {
	fill: #ffffff;
	width: 24px;
	height: 24px;
}

.button_text_container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 5px;
}

.vendor_store {
	font-weight: 700;
}

	

.sportsmen {
	width: 100%;
	
}

.section_header {
	margin-top: 24px;
	margin-bottom: -17px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: inherit;
	font-size: 50px;
	line-height: 50px;
	font-weight: 700;
	color: #e7e7e7;
	text-transform: uppercase;
}

.section_header_img {
	min-width: 192px;
	display: block;
	margin: auto;
	position: relative;
	top: 50px;


}

.athlets_card {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 50px;
	padding-bottom: 55px;
	padding-left: 20px;
	padding-right: 20px;
}

.athlets_card:nth-child(3) {
	background-color: #fafafa;
	padding-top: 80px;
}

.athlets_card:nth-child(4) {
	background-color: #f5f4f9;
}

.athlets_card:last-child { 
    background-color: #5e42b0;
}

.athlets_card_number {
	display: flex;
}

.card_number {
	display: block;
	font-family: inherit;
	font-size: 14px;
	font-weight: 700;
}

.card_number::after {
	content: "";
	display: block;
	width: 16px;
	height: 3px;
	margin-top: -3px;
	background-color: #5e42b0;
}

.number {
	color: #000000;
}

.number::after {
	content: "";
	display: block;
	width: 16px;
	height: 3px;
	margin-top: -3px;
	background-color: #ffffff;
}

.card_header {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10px;
	font-family: inherit;
	font-size: 23px;
	font-weight: 700;
	line-height: 27px;
	color: #c1c1c1;
	text-transform: uppercase;
}

.card_content {
	font-family: inherit;
	margin-top: 20px;
	}

.card_text {
	font-size: 15px;
	font-weight: 400;
	margin-top: 0;
	margin-left: 0;
}

.text_color {
	color: #ffffff;
}

.aside_img {
	width: 100%;
	display: block;
}

.motivation_card {
	position: relative;
	padding-top: 35px;
	padding-bottom: 70px;
	padding-left: 20px;
	padding-right: 20px;
}

.motivation_card_number {
	font-family: inherit;
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
	color: #f5f6f7;
	background-color: #5e42b0;
	padding: 28px;
	position: absolute;
	top: -58px;

	
	
}

.motivation_header {
	margin-top: 0;
	margin-bottom: 0;
	font-family: inherit;
	font-size: 28px;
	font-weight: 700;
	line-height: 28px;
	color: #e7e7e7;
	text-transform: uppercase;
}

.motivation_card_text {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	font-family: inherit;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.main_footer {
	 width: 100%;
     background-image: url(../images/game_767.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-color: #000000;
     position: relative;
     padding-top: 100px;
     padding-bottom: 10px;
     line-height: 16px;
}

.main_footer:before {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.footer_logo {
	width: 73px;
	margin-left: auto;
	margin-right: auto;
	background-color: #5e42b0;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
}

.surface_logo {
	fill: #ffffff;
}

.footer_header {
	margin-top: 60px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
}

.footer_slogan {
	margin-top: 5px;
	margin-bottom: 75px;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #9b8ec1;
	text-align: center;
}

.footer_logo_text {
	margin-top: 80px;
}